.imgcolumn, .gridimg{
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .imgcolumn, .gridimg img  {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .imgcolumn, .gridimg img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .imgrow:after, .gridimg {
    content: "";
    display: table;
    clear: both;
  }